/* ---------------------------- Start pages -------------------------------*/
.feed{
  .aviable-positions{
    margin-top: 80px;
    h3{
      text-transform: capitalize;
      margin-bottom: 40px;
      color: $mGray;
    }
    .position{
      border: 1px solid $mlGray;
      margin-bottom: 30px;
      h6{
        padding:10px 20px;
        background-color: $mlGray;
        color: #fff;
        &:hover{
          background-color: $mGray;
        }
      }
      .text{
        padding: 20px;
      }
    }
  }
  .applicant-position{
    padding-top: 100px;
    .position{
      border: 1px solid $mlGray;
      h3{
        background-color: $mlGray;
        font-size: 22px;
        color: #fff;
        padding: 10px;
      }
      .desc{
        padding: 20px;
      }
    }
    .position-apply{
      border: 1px solid $mlGray;
      padding: 20px;
      form{
        margin-top: 50px;
        .form-group{
          display: flex;
          label{
            margin-right: 20px;
          }
        }
      }
    }
  }
}
/* ---------------------------- End pages -------------------------------*/
