/* ---------------------------- Start pages -------------------------------*/
.home{
  background-color: $mGray;
  color: #fff;
  .buttons{
    margin-top: 140px;
  }
  .text{
    margin-top: 50px;
  }
}
/* ---------------------------- End pages -------------------------------*/
